.stuff-slideshow {
	&.slideshow-busy, &.slideshow-closed, { overflow: hidden; }
}
.stuff-slideshow-content {
	position: relative;
}
.stuff-slideshow-slide {
	width: 100%;
	margin: 0;
	position: absolute;
}