.stuff-accordian {
	border: 2px solid currentColor;
	box-sizing: border-box;

	.stuff-accordian-header, .stuff-accordian-footer { cursor: pointer; }

	.stuff-accordian-header {
		padding: 1em;
	}

	.stuff-accordian {
		&.accordian-busy, &.accordian-closed, {overflow: hidden;}
	}

	.stuff-accordian-content {
		padding: 0 1em;
		box-sizing: border-box;
		width: 100%;
		position: relative;

		.stuff-accordian-footer {
			margin: 0;
			padding: 1em 0;
		}
	}

	.stuff-accordian-seperator {
		margin: 0 0 1em;
		appearance: none;
		height: 2px;
		border-radius: 2px;
		border: none;
	}
}