#root {
	position: relative;
}

.body-frame {
	overflow: auto;
}


h1 {
	margin-top: 0;
	margin-bottom: 300px;
}

// .stuff-select { margin-right: 200px;}

// .stuff-faux-select-list { width: 750px;}

.yoohoo {
	background-color: red;
}

.demo-block {
	button {
		margin-right: 40px;
		margin-bottom: 60px;
	}
}

.demo-grid {
	display: flex;
	justify-content: space-between;
}

.smile {
	box-shadow: 0 10px 15px rgba(#000,.75);
	height: 125px;
	width: 125px;
	font-size: 6rem;
	background-color: yellow;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	pointer-events: auto;
	span {
		transform: rotateZ(90deg);
		margin-right: -15px;
	}
}

.hotdog {
	display: flex;
	background-color: red;
	background-image: url('../images/hotdog.png');
	background-size: cover;

	// width: 850px;
	// height: 50px;

	// width: 829px;
	// height: 518px;

	width: 663px;
	height: 414px;
	// 
	// 	width: 332px;
	// height: 207px;
	pointer-events: auto;
}